# 忽略環境變數 (內含 IP、金鑰，嚴禁上傳) [cite: 195, 196]
config/.env

# 忽略 Python 緩存檔案 [cite: 197, 198, 199]
__pycache__/
*.py[cod]

# 忽略虛擬環境資料夾 [cite: 200, 201, 202]
venv/
.venv/

# 忽略大型二進位模型 (建議模型手動搬運或個別管理)
models/*.tflite